<!DOCTYPE html>
<html lang="en-GB">
<meta charset="utf-8"
<head>
<link rel="stylesheet" type="text/css" href="styles.css">
  <title>Hogwarts Student Enrollment</title>
</head>
<body>
<nav>
  <ul>
    <li>
      <a href="/students">All Students</a>
    </li>
    <li>
      <a href="/students/new">Add New Student</a>
    </li>
  </ul>
</nav>

<%= yield %>
</body>
</html>